<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T053Z2W7VN');
</script>
<app-importcera *ngIf="hideimport" [url]="imagepreview" (changecomponent)="letchange($event)" [stylo]="isstylo" [tasse]="istasse" [portcle]="isportcle"></app-importcera>
<app-header *ngIf="hidegadget"></app-header>
<body *ngIf="hidegadget">
 
<div class="container-fluid" style="width: 100%; position: sticky;">
  <app-header-categorie></app-header-categorie>
</div>

  <div class="container" >
    <div id="body">
      <div class="row">
        <div class="col-sm-6 box-text">
          <p>Les meilleurs Gadgets aux meilleurs Prix</p>
          <div class="decouvrir">
            <a style="color:white;"  class="btn btn-decouvrir" (click)="View()">Découvrir</a>
          </div>
        </div>
        <div class="col-sm-6 box-image">
          <img class="mag" src="assets/image/objets-publicitaires.png" alt="">
        </div>
      </div>
    </div>
    <div class="section-personnalisation" id="view">
      <div class="card-columns">
          
        <div class="card">
          <div class="card-body" *ngIf="showchoices==false">
            <button (click)="displaychoices()" >
              <label for="file">
              <div class="imag" style="margin-top:63px">
              <i class="far fa-images fa-3x"  style="color: brown;"></i>
              
              <i class="far fa-images fa-3x"  style="color: brown;"></i>
              </div>
          
            <i class="fal fa-arrow-circle-up fa-3x" style="color: #324161;"></i>
            <h6 style="color: #324161;">{{text}}</h6>
          </label> 
          <input type="file" class="file-upload" name="files" id="file" (change)="Upload($event)" hidden disabled>
        
            </button>
          </div>
         
          <div class="card-body" *ngIf="showchoices">
            <button >
              <label for="file">
              <div class="imag">
              <i class="far fa-images fa-4x"  style="color: brown;"></i>
              
              <i class="far fa-images fa-4x"  style="color: brown;"></i>
              </div>
          
            <i class="fal fa-arrow-circle-up fa-3x" style="color: #324161;"></i>
            <h6 style="color: #324161;">{{text}}</h6>
          </label> 
          <input type="file" class="file-upload" name="files" id="file" (change)="Upload($event)" *ngIf="isstylo" hidden>
          <input type="file" class="file-upload" name="files" id="file" (change)="Upload($event)" *ngIf="isportcle" hidden>
          <input type="file" class="file-upload" name="files" id="file" (change)="Upload($event)" *ngIf="istasse" hidden>

        
        </button>
          </div>

          <div class="card-footer" *ngIf="showchoices" style="position: relative; margin: 2x;">

            

            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="tasse" (click)=" OnclickTasse()" [(ngModel)]="istasse">
              <label class="form-check-label" for="tasse">Tasse</label>
            </div>

            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="stylo" (click)=" OnclickStylo()"  [(ngModel)]="isstylo">
              <label class="form-check-label" for="stylo">Stylo</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="cle" (click)=" OnclickPorte()" [(ngModel)]="isportcle">
              <label class="form-check-label" for="cle">Porte-clé</label>
            </div>


            
          </div>
        </div>
 



    <div class="card" *ngFor="let item of gadgets">
   
      <div class="img">
        <img class="im" [src]="item.img" alt="goods">
      </div>
      <div class="middle">
        <a class="text btn" [href]="url+item.gadg_id">
        Je personnalise
        </a>
      </div>
      <div class="card-body">
        <p style="font-size: 12px;">{{item.name_gadget}}</p>
       <p class="prix">{{item.price}} <strong>fcfa</strong></p>
      </div>
    </div>
     </div>
    </div>

  </div>
  <br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<app-footer></app-footer>

</body>
