
<nav>
    <a href="/home">
    <img src="/assets/image/logo.png" >
  </a>
  <ul class="justify">
    <a href="/cart"><i class="fal fa-shopping-cart fa-2x"></i><span class="badge badge-danger">{{cart_items}}</span></a>
  </ul>
  </nav>
  