/*:root{
    --bleu:#324161;
    --jaune:#fab91a;
  }
  
  
  .grid-container {
    margin: 0 auto;
    padding-left: 0;
    max-width: 960px;
    overflow: hidden;
  }
  
  .grid-container .row {
    display: block;
    margin: 0 -28px 0 -8px;
    padding-left: 8px;
  }
  
  .grid-container .col-6{
    display: block;
    max-width: none;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
    float: left;
    position: relative;
  }
  
  .product{
    position: static;
    width: 480px;
    height: 538px;
    display: block;
    float: left;
  }
  
  .products{
    position: fixed;
    top: 10px;
    width: 385px;
  }
  
  .products-image{
    margin-bottom: 10px;
  }
  
  .tabs{
    position: relative;
    margin-top: 0;
  }
  
  .productimage{
    width: 464px;
  }
  
  img{
    width: 100%;
  }
  // partie description......
  
  .title{
    margin-bottom: 20px;
  }
  
  .title-text{
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    color: #00111a;
  }
  
  .description{
    margin-bottom: 20px;
  }
  
  .description-text{
    font-style: 15px;
    line-height: 20px;
  }
  
  .size{
  display: flex;
  }
  
  
  
  .size ul{
    display: flex;
  }
  
  .size ul li{
    margin-left: 30px;
  }
  
  .color-text{
    color: #00111a;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .colors{
    line-height: 0;
    font-style: 0;
    display: block;
  }
  
  .colors .dr{
    margin: 5px;
    padding: 0;
    border: 1px solid #e6e6e6;
    display: inline-block;
  
  }
  
  .colors .dr .color-option{
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  
  .colors .dr .color-option input{
    padding: 0;
    margin: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0.01;
    overflow: hidden;
  }
  
  .color-one{
    background-color: red;
  }
  
  .color-two{
    background-color: #318CE7;
  }
  
  .color-three{
    background-color: #000000;
  }
  
  .color-four{
    background-color: white;
  }
  
  .bt{
    background-color: #fab91a;
    color: #324161;
    font-weight: bold;
    margin-left: 1%;
  }
  
  .text-size{
    font-style: 18px;
    margin-bottom: 10px;
    color: #00111a;
    font-weight: bold;
  
  }
  
  .body-descript{
    
    // float: left;
    text-align: justify;
  }
  
  @media screen and (max-width:768px){
    .dx{
      margin-left: 25px;
    }
  
    .body-descript{
      margin-left: 0;
      text-align: justify;
    }
  
    .products-image{
      margin-left: 31%;
    }
  
    .grid-container .cx{
      margin-left:6%;
    }
  }
  
  
  @media screen and (max-width:576px){
    .products-image{
      margin-left: 10%;
    }
  }
  
  
  @media screen and (max-width:425px){
    .products-image{
      margin-left: -20%;
    }
  }
  // note*****************************************
  
  
  // a[href*="intent"] {
  //   display:inline-block;
  //   margin-top: 0.4em;
  // }
  // /*
  //  * Rating styles
  //  */
  // .rating {
  //   width: 226px;
  //   margin: 0 auto 1em;
  //   font-size: 20px;
  //   overflow:hidden;
  // }
  // .rating a {
  //   float:right;
  //   color: #aaa;
  //   text-decoration: none;
  //   -webkit-transition: color .4s;
  //   -moz-transition: color .4s;
  //   -o-transition: color .4s;
  //   transition: color .4s;
  // }
  // .rating a:hover,
  // .rating a:hover ~ a,
  // .rating a:focus,
  // .rating a:focus ~ a		{
  //   color: orange;
  //   cursor: pointer;
  // }
  // .rating2 {
  //   direction: rtl;
  // }
  // .rating2 a {
  //   float:none
  // }*/

  .zoom {
    transition: transform .2s;
    margin: 0 auto;
  }

  .zoom:hover {
      height: auto;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  

body{
  background: #ccc;
}
.btn{
  background: #fab91a;
  box-shadow: none;
  border-radius: 36px;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 12px;
  margin: 7px;
}
.radio{
  margin: 6px;
  width: 45px;
  height: 30px;
}
.lab{
  position: relative;
  bottom: 9px;
  font-weight: bold;
  //margin: 12px;
}

.btt{
  color: black;
  border: solid 1px #fab91b;
  background:none;
  text-transform: none;
}
.select:focus{
  box-shadow: none;
}
#chk:hover{
  color: black;
  border: solid 1px #fab91b;
  background:none;
  //box-shadow: none;
}
#chk:focus{
  border: solid 1px #324161;
  //box-shadow: none;
}
.btne{
  background: #324161;
  box-shadow: none;
  border-radius: 36px;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 12px;
  height: 41px;
  margin:6px;  
}
.btn:hover{
  color: white;
}
.des:hover{
  cursor: pointer;
}
.fas{
  vertical-align: sub;
}
a{
  text-decoration: none;
  color: white;
  margin: 38px;
  
}
h4, h6{
  font-family: 'Poppins';
  color: #324161;
  font-weight: bold;
}
.card-header{
  background: #324161;
  color: white;
}
.serie{
  font-family: 'Roboto';
  color: #324161;
  font-weight: bold;
}
.for{
  width: 30px;
  height: 30px;
  border: none;
  vertical-align: middle;
  float: right;
}
.for:focus{
  color: #324161;
  background: #324161;
}
.contre{
  width: 21%;
}
.fad{
  color: #324161;
}
.inpute{
  display: flex;
  //align-items: center;
  font-family: 'Roboto';
  font-weight: bold;
  color: #324161;
}
.inputed{
  display: block;
  left: 45px;
}
.xl{
  display: -webkit-inline-box;
}
.btn-success{
  width: 47.5%;
  height: 45px;
  border: none;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 5px;
}
.image{
  text-align: center;
  border: solid 1px #fab91a;
}
.cription{
  color: #324161;
  font-weight: bold;
  font-family: 'Poppins';
}
img{
  margin-top: 17px;
  //width: 50%;
}
.input{
  font-family: 'Roboto';
  font-weight: bold;
  color: #324161;
  height: 49px;
  width: 42%;
}
.choix{
  font-family: 'Roboto';
  font-weight: bold;
  color: #324161;
}
.input:focus{
  box-shadow: none;
}
.choisir{
  display: flex;
  align-items: center;
}
.oui{
  margin: 8px;
}
.question{
  display: flex;
  align-items: center;
}
input{
  margin: 6px;
}
@media screen and (max-width:768px) {
  img{
      margin-top: 17px;
  width: 279px;
  }
  .col-6{
      width: 100%;
      border: none;
  }
  .btn-success{
      width: 99.5%;
  }
}
@media screen and (max-width: 768px) and (orientation:landscape){
  img{
      margin-top: 17px;
      width: 403px;
  }
  .col-6{
      width: 100%;
      border: none;
  }
  .btn-success{
      width: 99.5%;
  }
}
.qty{
  display: flex;
  text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    left: -70px;
}
.moins{
    position: absolute;
    left: 24px;
    color: #324161;

}
.plus{
  color: #324161;
  position: relative;
    left: -14px;
}
