<!---->
<app-header  *ngIf="sho"  [fromhome]="fromhome"></app-header>
<div class="container-flex" style="z-index: -1;">

</div>
<div class="section" >
    
    <app-aladin [data]="data" *ngIf="editor"  id="editor"></app-aladin>

    <app-cartitems *ngIf="cart" id="cart"></app-cartitems>

</div>




<div class="section">
 

    <app-home1 *ngIf="show"></app-home1>

    
</div>


<br>
<br>
<div class="container-flex flex">
<app-footer></app-footer>
</div>

