

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
  </style>
  
<app-descpackages  *ngIf="hidepack" [data]="details" (changeComponent)="ChangeComponent($event)"></app-descpackages>
<app-descclothes *ngIf="hide" [data]="details" (changeComponent)="ChangeComponent($event)"></app-descclothes>
  
  
<app-header3 *ngIf="hidebody"  ></app-header3>

<div class="container axe" *ngIf="hidebody">
  <div class="top_produit">
    <div class="title">
      <div class="bar">
        <p>Catégories</p>
      </div>
    </div>
    <div class="products">
      <div class="product">
        <div class="text">
          <p class="noms">Imprimés</p>
          </div><a href="printed"><img class="image_products" src="/assets/image/imprimer.jpeg" alt="Imprimes"></a>
      </div>
      <div class="product">
        <div class="text">
          <p class="noms">Gadgets</p>
          </div><a href="gadgets"><img class="image_products" src="/assets/image/gadget.jpeg" alt="gadgets"></a>
      </div>
      <div class="product">
        <div class="text">
          <p class="noms">Vêtements</p>
          </div><a href="cloths"><img class="image_products" src="/assets/image/tshirt2.jpeg" alt="vetements personnalisable"></a>
      </div>
      <div class="product">
        <div class="text">
          <p class="noms">Affichage</p>
          </div><a href="displays"><img class="image_products" src="/assets/image/affiche.jpeg" alt="Affichage"></a>
      </div>
      <div class="product">
        <div class="text">
          <p class="noms">Emballage</p>
          </div><a href="packages"><img class="image_products" src="/assets/image/sachet.jpeg" alt="Emballage"></a>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="hidebody">
  <div class="top_produit">
    <div class="title">
      <div class="bar">
        <p>Top Produits</p>
      </div>
    </div>

    <div class="products" >
      <div class="card">
        <div class="card-header" style="background: #324161; color: white;">
         <span> Vos produits de Vetements</span>
         <a class="a" href="../cloths" style="float: right; color: white;">VOIR PLUS  <i class="fas fa-angle-right"></i></a>
        </div>
        <div class="card-body">
      <div class="product" *ngFor="let item of produit"><a  role="button" (click)="showDetails(item)">
        <img style="background: #eee;" class="image_product" [src]="item.url" alt="T-shirt personnalise">
        <div class="text">
          <p class="nom">{{item.name}}</p>
          <p class="descris" >À partir de <span class="price" *ngIf="hideprice">{{item.price}} FCFA</span></p>
          <p class="prix" *ngIf="hidepromo"> <del ><strong style="color: red;">{{item.price}} fcfa</strong></del>
            <span style="margin:6px">{{item.promo}} fcfa</span></p>
        </div></a></div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" style="background: #324161; color: white;">
          <span>Vos produits d'Emallages</span>
          <a class="a" href="../packages" style="float: right; color: white;">VOIR PLUS  <i class="fas fa-angle-right"></i></a>
         </div>
        <div class="card-body">
          <div class="product" *ngFor="let item of packages"><a role="button" (click)="showDetals(item)"><img class="image_product" [src]="item.url" alt="">
            <div class="text">
              <p class="nom">{{item.name}}</p>
              
              <p class="prix"> <strong style="color: red;" *ngIf="hideprice">{{item.price}} fcfa</strong>
                <del ><strong style="color: red;" *ngIf="hidepromo">{{item.price}} fcfa</strong></del>
                <span style="margin:6px"  *ngIf="hidepromo">{{item.promo}} fcfa</span></p>
            </div></a></div>
        </div>
      </div>
     
    </div>
  </div>
</div>
<div class="bubble" *ngIf="cacheBulle"> La Promotion sur la Catégorie Vetement à débuter il ne vous reste plus  
  <strong>
    <span id="days"> {{daysToDday}} Jour(s) -</span>
    <span id="hours"> {{hoursToDday}} Hrs -</span>
    <span id="minutes"> {{minutesToDday}} Min -</span>
   <span id="seconds"> {{secondsToDday}} S</span> 
  </strong>
  que  pour bénéfiicier de cette promo !! 
</div>

<div class="contact" *ngIf="hidebody">
  <div class="text_contact">
    <h2 class="h2" style="font-size: 30px;">
      <span>
        Notre service Client à vos côtés au <span style="font-weight: bold;">(+225 ) 27 23 45 73 02</span> ou
      </span>
    </h2>
    <div class="btn btn-sm b_cont">
      <div>
        <span style="font-size: 10px;">contactez - nous</span>
      </div>
    </div>
  </div>
  <h2 class="lun">
    <div>
      <span style="font-size: 24px;">du Lundi au Samedi de 7h à 20h</span>
    </div>
  </h2>
</div>