

.container{
  max-width: 1184px;
  font-family: 'poppins',helvetica,sans-serif;
}

.title{
  background-image: url("/assets/image/n.jpg");
  background-position: 50% 60%;
  background-repeat: repeat-x;
}
.bar{
  text-align: center;

}

.bar p{
  display: inline-block;
  background: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 0 2rem;
  margin: 0;
}

.products{
  flex-direction: row;
  flex-wrap: wrap;
}

.top_produit .products{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product{
  max-width: 28.5rem;
}

.top_produit .product{
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a{
  color: #000000;
  text-decoration: none;
}

.top_produit .product a{
  display: inline-block;
}

.image_product{
  display: block;
  max-width: 100%;
  height: auto;
  width: 250px;
}

.text{
  margin-top: 10px;
}


.top_produit .product .nom{
  font-size: 16px;
  font-weight: bold;
}
p{
  margin: 0;
}

.top_produit .product{
  font-size: 1.4rem;
}

.top_produit .product .descris .price{
  color:#FF4040;
  font-weight: bold;
  font-style: 16px;
}

.product p{
  color: #000000;
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  letter-spacing: 0em;
  line-height: 1;
  margin: 0;
}

.axe{
  margin-top: 15px;
}

.top_produit .product .noms{
  font-size: 16px;
  font-weight: 600;
}

.product .noms{
  margin-bottom: 15px;
}

.image_products{
  display: block;
  max-width: 100%;
  height: auto;
  width: 200px;
}


.contact{

  background: #d4d4d4A1;
  max-width: 110rem;
  min-height: 169px;
  height: auto;
  align-self: end;
  justify-self: center;
  position: relative;
  display: grid;
}

.text_contact{
  width: 75%;
  align-self: center;
  justify-self: start;
  margin-left: 15%;
  height: auto;
  position: relative;
  display: flex;
}

.h2{
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-align: left;
  font-family: roboto-thin,roboto,sans-serif;
  letter-spacing: 0em;
  line-height: 1.3em;
  font-weight: 30px;
  font-weight: 100;
  text-decoration: none;
}

.b_cont{
  background: #131946;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin-left: 2%;
}

.lun{
  text-align: center;
  font-size: 16px;
}

.profession{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: auto;
  min-height: 0px;
  align-self: stretch;
  justify-self: stretch;
  position: relative;
  grid-area: 4/1/5/2;
}

.fv{
  background-color: #131946;
  color: #ffffff;
}

.vf{
  width: 100%;
  height: 100%;
}

.im{
  height: 100%;
  width: 100%;
}
.bloc{
  position: relative;
  box-sizing: border-box;
  column-gap: 40px;
  display: grid;
  grid-template-rows: minmax(auto,max-content);
  grid-template-columns: 0.5fr 1fr;
}

.image{
  height: 220px;
  min-width: 0px;
  width: 220px;
  align-self: center;
  justify-self: center;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  margin-bottom: 20%;
  grid-area: 1/1/2/2;
}

.profil{
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;

}

.text_profils{
  height: max-content;
  width: 59.99971%;
  align-self: center;
  justify-self: start;
  position: relative;
  margin-left: 0%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  grid-area: 1/2/2/3;
}

.tp{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.icon{
  fill-opacity: #ffffff;
  opacity: 0.25;
}

.text_profil{
  font-size: 16px;
  height: auto;
  width: 100%;
  position: relative;
  margin-left: 0%;
  margin-top: 23.828125px;
  align-self: center;
  order: 2;
}

.card-body .product{
  margin: 8px;
}
.card{
  width: 100%;
  margin: 10px;
}
.bubble{ 
  background-color: #324161;
  color: white;
  border-radius: 5px; 
  box-shadow: 0px 0px 6px #B2B2B2;
  left: 1340px;
  position: absolute;
  width: 167px;
  top: 883px;
  height: 344px;
  text-align: center;
   
} 

.bubble span{
  color: #FF4040;
}
