.cart-block{
    margin:0% 10% 4% 10%;
  }
  
  .text-right{
    font-weight: bold;
  }
  
  .total{
    font-weight: bold;
  }
  
  .entete{
    font-weight: bold;
  }
  
  // cart vide
  
  // cart vide
  .zoom {
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
      height: auto;
    -ms-transform: scale(3); /* IE 9 */
    -webkit-transform: scale(3); /* Safari 3-8 */
    transform: scale(3); 
  }
  
  :root{
    --bleu:#324161;
    --jaune:#fab91a;
  }
  
  .form-range{
    width: 25%;
  }
  
  body{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .image{
    width: 100%;
    text-align: center;
  }
  
  .text{
    font-weight: bold;
    color: #324161;
    font-size: 30px;
    padding: 30px 0 0 10%;
  }
  
  .text-bas{
    font-weight: bold;
    color: #324161;
    text-align: center;
    padding-bottom: 21px;
  }
  
  .btn{
    font-weight: bold;
    background-color: #324161;
    color: white;
    border-color: #324161;
  }
  
  .to{
    text-align: center;
      }
  
      .input-number{
        width: 100px;
        bottom: 0px;
        text-align: center;
        float: inline-start;
        background: #F2711C !important;
        position:absolute;
        margin-left: 25%;
  
      }
      .input-number-decrement{
        margin-left: 20px;
        float: left;
        text-align: center;
  
      }
      .input-number-increment{
        float: right;
        margin-left: 50%;
        text-align: center;
  
      }
      .input-number-increment_by{
        float: inherit;
        margin-top: 0%;
        margin-left: 50%;
        text-align: center;
  
      }
  
      .input-number-increment_div{
        float: inherit;
        margin-top: 0%;
        margin-left: 20px;
        text-align: center;
  
      }
  
      .btn{
        width: auto;
        height: auto;
      }
  
  
      @media screen and (max-width: 480px){
        
        .input-number-increment_div{
          float: inherit;
          margin-top: auto;
          margin-left: auto;
          margin-bottom: auto;
          text-align: center;
          margin-right: auto;
  
    
        }
  
        .input-number-increment_by{
          float: inherit;
          margin-top: 5%;
          margin-left: auto;
          text-align: center;
          margin-right: auto;
  
    
        }
  
        .input-number-decrement{
          margin-left: auto;
          float: auto;
          text-align: center;
          margin-right: auto;
  
    
        }
        .input-number-increment{
          float: auto;
          margin-left: auto;
          text-align: center;
          margin-top: 5%;
          margin-right: auto;
  
    
        }
      }