<!--top bar-->

<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"
></script>
<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css"
  rel="stylesheet"
/>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  
 
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-T053Z2W7VN');
  </script>

    <div class="navbar" style="background: #042341;font-family: Roboto;">
      <div class="container-fluid">
        <div class="row">
          <div class="col cole">
            <ul>
              <a><i class="fas fa-headset fa-2x"></i> <strong  style="position: relative;
                top: -3px;
                left: 6px;">+225 27-23-45-73-02</strong> </a>
              <a role="button" (click)='Scroll()' class="nav-link lit" style="color:#fab91a;" hidden>Notre entreprise</a>

            </ul>
          </div>
          <div class="col">
        
          </div>
          <div class="col faire cole" style="color: white; margin-left: 29rem;">
            <ul>

              <a  href="https://www.facebook.com/search/top?q=aladin" class="nav-link lit" style="color: white;" >
                <i class="fab fa-facebook fa-2x"></i>
               </a>
               <a href="https://twitter.com/AladinCi" class="nav-link lit" style="color: white;" >
                <i class="fab fa-twitter fa-2x"></i>
               </a>

              

              <a  role="button"  data-toggle="modal" data-target="#getauth"  class="nav-link con" style="color: white; " *ngIf="isauth==false">
                <i class="fas fa-user fa-2x " aria-hidden="true"></i>
                Connexion
              </a>

              <div *ngIf="isauth"  style="float:inline-start; width: auto;">Bienvenue <strong style="color: orange; font-size: small;">{{name}} </strong> 
              </div>
            
                <li style="float: right; margin-top: 0%; margin-left: 10%; margin-right: 0%;" *ngIf="isauth">
                  <div class="dropdown">
                    <a style="color: white;" class=" dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user fa-x" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                      <a class="dropdown-item" href="/home"><i class="fas fa-home"></i> Acceuil</a>
                      <hr>
                      <a class="dropdown-item" [href]="URL+ID"><i class="fas fa-user fa-x" aria-hidden="true"></i> Mon Compte</a>
                      <hr>
                      <a class="dropdown-item" [href]="URL+ID"><i class="fas fa-edit  fa-x  "></i> Mes commandes</a>
                      <hr>
                      <a class="btn btn-warning" type="submit" (click)="logout($event)">Deconexion</a>
                    </div>
                  </div>
                 </li>
                 

              <div class="modal fade" id="getauth"  tabindex="-1"  aria-labelledby="getauth" aria-hidden="true">
                <div class="modal-dialog " role="dialog">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h5 class="modal-title" id="getauth" style="color: #324161;font-size: 34px;font-weight: bold;">Connexion</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="c">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    
                    <div class="modal-body">

                                <form>
                                    <p>Envie de shopper?<i class="fa fa-user fa-2x"
                                      style="margin-left: 10px;color: #324161;"    aria-hidden="true"></i><a href="/users/register" > je m'inscris</a></p><br>
                                   <!---- <p>Envie de vendre?<i  class="fa fa-handshake-o fa-2x"
                                       aria-hidden="true" style="margin-left: 10px;"> </i> <a href="/partners">je deviens partenaire</a></p><br>-->
                                    
                                       <div class="mb-3">
                                    <input type="text" class="form-control" name="email"   placeholder="E-mail ou Nom d'utilisateur" [(ngModel)]="data.email">

                                    <div *ngIf="data.erroremail==true" class="alert alert-warning alert-dismissible fade show text-danger">
                                      {{message}}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    </div><br>

                                    <div class="mb-3">
                                    <input type="password" class="form-control" id="pass" name="password" placeholder="Mot de passe" [(ngModel)]="data.password">
                                    <div *ngIf="data.errorpwd==true" class="alert alert-warning alert-dismissible fade show text-danger">
                                      {{data.pwdmsg}}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    </div>

                                    <div class="mb-3 form-check" >
                                      <input type="checkbox" name="checked" class="checkbox" id="checkbox">

                                    <input type="checkbox" class="form-check-input" style="color: #fab91a;">
                                    <a href="/users/pwdforgot"  style="position: relative ;left:35px;">Mot de passe oublie?</a>
                                    </div>

                                    <div class="d-grid gap-2  mx-auto">
                                      <div class="d-flex justify-content-center" *ngIf="show">
                                        <div class="spinner-border" role="status">
                                          <span class="sr-only">Loading...</span>
                                        </div>
                                      </div>
                                    <button type="submit" class="btn btn btn-lg " style="background:#fab91a;color: white;" (click)="login($event)">Je me connecte</button>
                                   </div>
                                   <br>
                                   <hr>
                                   <br>
                                   <!----
                                    <div class="d-grid gap-2  mx-auto">
                                    <button type="submit" class="btn  btn-lg flex"  style="background:#042341;color: white;"><i  class="fa fa-facebook" style="color: #000;"></i>Se connecter avec Facebook</button>
                                   </div>
                                  -->

                                </form>
                         </div>
                       </div>
                    </div>
                    </div>
            </ul>

          </div>
        </div>
      </div>
  </div>

<nav>
    <div class="nav" >
      <div class="logo">
        <a href="/home" *ngIf="fromhome==false">
          <img src="/assets/image/logo.png" width="100" height="100">
         </a>

        <a (click)="gohome()" *ngIf="fromhome">
         <img src="/assets/image/logo.png" width="100" height="100">
        </a>
      </div>

       <div class="search_box" hidden>
         <input type="search" placeholder="Chercher vos produits ici">
         <a  type="submit" class="nav-link "><i class="fas fa-search" aria-hidden="true"></i></a>
        </div>
       <ol>
       <li><a  (click)="gohome()" *ngIf="fromhome" ><i class="fas fa-home fa-x" aria-hidden="true" style="color: blue;"></i><span class="Ac">Acceuil</span> </a></li>
       <li><a  href="/home" *ngIf="fromhome==false" ><i class="fas fa-home fa-x" aria-hidden="true" style="color: blue;"></i> <span class="Ac">Acceuil</span></a></li>


       <input type="number"  hidden name="dudu" [(ngModel)]="cart_items"/>
       <li>

         <div class="navb">
          <div class="subnav">
            <a role="button" class="subnavbtn">Nos produits</a>
            <div class="subnav-content">
              <h1>Les catégories</h1>
              <div class="row">
                <div class="col-2">
                  <div class="card">
                    <a href="cloths">Vetements</a>
                  <p>Dans la categorie vetement vous pouvez avoir les t-shirt,polos pour hommes, femmes, enfants, et des casquettes personnalisés</p>    
                </div>
                
  
                </div>
                <div class="col-2">
                  <div class="card">
                    <a href="displays">Affichages</a>
                  <p>Dans la categorie Affichage vous pouvez inserer  vos créa de Kakémono, Baches, Vinyle, Micro-perforé personnalisés</p>    
                </div>
                </div>
                <div class="col-2">
                  <div class="card">
                    <a href="printed">Imprimés</a>
                  <p>Dans la categorie Imprimés vous avez la possibilité d'inserer vos créa d'etiquettes et de carnet</p>    
                </div>
                </div>
                <div class="col-2">
                  <div class="card">
                    <a href="packages">Emballages</a>
                  <p>Dans la categorie Emballage nous vous donnons la possibilité d'inserer vos créa et personnalise a vos gout les emballages présent sur la page.</p>    
                </div>
                </div>
                <div class="col-2">
                  <div class="card">
                    <a href="gadgets">Gadgets</a>
                    <p>Dans la categorie Imprimés vous avez la possibilité d'inserer vos créa d'stylo, tasses, et de porte-clé</p> 
                </div>
                </div>
                <div class="col-2">
                  <div class="slide">
                    <div><img src="assets/image/1.png" alt=""></div>
                    <div><img src="assets/image/kakemono.jpeg" alt=""></div>
                    <div><img src="assets/image/carte_visite.jpeg" alt=""></div>
                    <div><img src="assets/image/tshietf.jpg" alt=""></div>
                    <div hidden><img src="assets/image/7.png" alt=""></div>
                    
                  </div>
                </div>
              </div>
            </div>
           </div>
         </div>
       
        </li>
       <li><a href="/cart" *ngIf="fromhome==false"><i class="fas fa-shopping-cart fa-x" aria-hidden="true" style="color: blue;"></i> <span class="badge badge-danger">{{cart_items}}</span></a></li>
       <li><a (click)="gotocart()" *ngIf="fromhome"><i class="fas fa-shopping-cart fa-x" aria-hidden="true" style="color: blue;"></i> <span class="badge badge-danger">{{cart_items}}</span></a></li>
      
      </ol>
       
  </div>
</nav>

